#menu-navbar {
  border-bottom: 2px solid #c0020f;
  font-size: 14px;
  font-family: Roboto;
  color: #333333;
  font-weight: 300;
}

#menu-navbar .main-navbar {
  background: #ffffff;
}

#menu-navbar .main-navbar .wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 30px;
}

#menu-navbar .main-navbar .wrapper .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0px;
  text-align: center;
  line-height: 35px;
  width: 201px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-head {
  color: white;
  font-size: 14px;
  background-color: #c0020f;
  height: 100%;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list {
  padding-left: 0;
  list-style: none;
  text-align: left;
  height: 100%;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li a {
  color: black;
  text-decoration: none;
  padding-left: 30px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li:hover .level1 {
  color: red;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li:hover .level2 {
  color: red;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list li:hover .level3 {
  color: red;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-dropdown,
#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-li {
  position: relative;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-dropdown i,
#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-li i {
  position: absolute;
  right: 20px;
  top: 10px;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-dropdown .megamenu-dropdown:hover .lever-2 li a,
#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-li .megamenu-dropdown:hover .lever-2 li a {
  color: black;
}

#menu-navbar .main-navbar .wrapper .inner .menu-container .grid-item .megamenu-body .megamenu-list .megamenu-dropdown {
  height: 35px;
}

.lever-2 {
  position: relative;
  left: 202px;
  top: -35px;
  list-style: none;
  padding-left: 0;
  height: 0;
  width: 202px;
}

.lever-2 li a {
  color: black;
}

.lever-2 li i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.lever-2 li:hover .hover2 {
  color: red;
}

.chieucao {
  height: 0 !important;
}

.displayNone {
  display: none;
}

.hoverApper {
  display: block;
}

.megamenu-dropdown:hover {
  display: block;
}

.ahhihi {
  display: none;
}

.megamenu-dropdown:hover > .ahhihi {
  display: block;
}

.level2:hover {
  color: red;
}

.level3:hover {
  color: red;
}
/*# sourceMappingURL=example.css.map */