html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: 300;
  scroll-behavior: smooth;
  size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 14.5rem;
}

.header-desktop {
  width: 100%;
  height: 95%;
  position: relative;
  top: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-desktop .header-top {
  line-height: normal !important;
  padding-top: 10px !important;
  background: #e3e4e5;
  color: #ababac;
  width: 100%;
  height: 2.7rem;
}

.header-desktop .header-top .wrapper {
  padding: 5px 0;
  width: 127rem;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header-desktop .header-top .wrapper .inner {
  position: absolute;
  width: 100%;
  top: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-desktop .header-top .wrapper .inner .inner-item-one > .inner-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  list-style: none;
  padding: 0 2.5rem;
}

.header-desktop .header-top .wrapper .inner .inner-item-one > .inner-first .inner-main {
  margin-left: 0.7rem;
  color: #ababac;
}

.header-desktop .header-top .wrapper .inner .inner-item-one > .inner-first .inner-main a {
  text-decoration: none;
  color: #ababac;
}

.header-desktop .header-top .wrapper .inner .inner-item-one > .inner-first .inner-main a:hover {
  color: red;
}

.header-center {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  height: 12rem;
  padding-left: 1rem;
}

.header-center .wrapper {
  width: 124rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.header-center .wrapper .inner .header-center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-center .wrapper .inner .header-center-item .logo-container {
  margin-right: 2rem;
}

.header-center .wrapper .inner .header-center-item .input-section {
  width: 77.4rem;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container {
  margin-top: 1.5rem;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* For IE10 */
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place select {
  /* for Firefox */
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  width: 15rem;
  height: 4rem;
  margin-left: 5rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place select:focus {
  border: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place select::-ms-expand {
  display: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place input {
  width: 49rem;
  height: 3.8rem;
  background-color: #fff;
  color: #8f8f8f;
  border: none;
  border-radius: 2px;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place input:focus {
  border: none;
  outline: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place span {
  width: 8rem;
  height: 4rem;
  color: white;
  border: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place span button {
  width: 100%;
  height: 100%;
  background-color: #c0362e;
  color: #fff;
  border: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-place span button:focus {
  border: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-keyword {
  width: 100%;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-keyword .input-keyword-container .input-keyword-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  padding: 0;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-keyword .input-keyword-container .input-keyword-list .input-keyword-item {
  margin-left: 0.8rem;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-keyword .input-keyword-container .input-keyword-list .input-keyword-item a {
  color: #aeaeae;
  text-decoration: none;
}

.header-center .wrapper .inner .header-center-item .input-section .input-container .input-keyword .input-keyword-container .input-keyword-list .input-keyword-item a:hover {
  color: red;
}

.header-center .wrapper .inner .header-center-item .shopping-status {
  padding-left: 40px;
  background-color: #f9f9f9;
  width: 18rem;
  height: 4rem;
  margin-top: 15px;
}

.header-center .wrapper .inner .header-center-item .shopping-status .shopping-status-container {
  font-size: 1.7rem;
  padding: 10px 0 0 9px;
}

.header-center .wrapper .inner .header-center-item .shopping-status .shopping-status-container .shopping-status-content {
  height: 4rem;
  width: 100%;
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
  color: #b7b7b7;
}

.header-center .wrapper .inner .header-center-item .shopping-status .shopping-status-container .shopping-status-content:hover {
  color: red;
}

.megamenu-navbar {
  width: 100%;
  height: 4rem;
  padding-bottom: 1rem;
  padding-top: 30px;
}

.megamenu-navbar .main-navbar {
  border-bottom: 2px solid #c0362e;
  width: 100%;
  height: 100%;
}

.megamenu-navbar .main-navbar .wrapper {
  max-width: 121rem;
  height: 100%;
  margin: 0 auto;
}

.megamenu-navbar .main-navbar .wrapper .inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.megamenu-navbar .main-navbar .wrapper .inner .main-navbar-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.megamenu-navbar .main-navbar .wrapper .inner .main-navbar-list .navbar-item {
  font-size: 1.7rem;
  text-align: center;
  width: 20.5rem;
}

.section-one {
  width: 20%;
}

.section-one .megamenu-head {
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #c0362e;
  width: 20rem;
  font-family: 'Roboto Mono', monospace;
}

.section-one .megamenu-head span {
  line-height: 4rem;
  width: 100%;
}

.section-one:hover .megamenu-container {
  display: block;
}

.megamenu-container {
  display: none;
  width: 20.5rem;
  position: relative;
  top: -17px;
  background-color: #fff;
}

.megamenu-container .megamenu-div-content {
  width: 100%;
}

.megamenu-list-ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.megamenu-list-ul .megamenu-list-item {
  line-height: 3.5rem;
  position: relative;
}

.megamenu-list-ul .megamenu-list-item a {
  height: 3.5rem;
  color: black;
  text-decoration: none;
  padding-left: 1rem;
}

.megamenu-list-ul .megamenu-list-item a i {
  position: absolute;
  right: 1rem;
  padding-top: 0.9rem;
}

.megamenu-list-ul .megamenu-list-item a:hover {
  color: red;
}

.megamenu-list-ul .megamenu-list-item a:hover i {
  color: red;
}

.megamenu-list-ul .megamenu-list-item i {
  position: absolute;
  right: 1rem;
  padding-top: 0.9rem;
}

.megamenu-list-ul .megamenu-list-item:hover {
  background-color: #fff;
}

.li-dropdown-level2 {
  position: absolute;
  left: 20.5rem;
  width: 20.5rem;
  background-color: #fff;
  top: 0;
}

.li-dropdown-level2 .li-dropdown-leve2-container .list-dropdown-level2 {
  list-style: none;
}

.li-dropdown-level1:hover {
  background-color: #fff;
}

.level2 {
  display: none;
}

.hover-level2:hover .level2 {
  display: block;
}

.level3 {
  display: none;
}

.hover-level3:hover .level3 {
  display: block;
}

.mobile-device-list {
  position: absolute;
  left: 20.5rem;
  width: 80rem;
  height: 45.5rem;
  padding-left: 1rem;
  top: -3.5rem;
  display: none;
  background-color: #e7e7e7e7;
}

.mobile-device-list .mobile-device-product {
  width: 8 0%;
  height: auto !important;
}

.mobile-device-list .mobile-device-product .mobile-device-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-device-list .mobile-device-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product .product-name {
  width: 15.8rem;
  line-height: normal;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product .product-name .product-name-wapper a {
  padding-left: 0;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product .product-list-brand {
  padding-left: 1rem;
  width: 44rem;
  height: 4.8rem;
  margin-bottom: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product .product-list-brand .product-brand-item {
  height: 1.6rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.mobile-device-list .mobile-device-wrapper .mobile-device-product .product-list-brand .product-brand-item a {
  padding-left: 0;
  max-width: 20rem;
}

.product-name-wapper:hover a {
  color: red;
}

.product-name-wapper:hover i {
  color: red;
}

.product-brand-item:hover a {
  color: #aaaaaa;
}

.brand-img a img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.brand-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.li-megamenu:hover .mobile-device-list {
  display: block;
}

.section-two {
  width: calc((100% / 3) * 2);
}

.section-two .list-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}

.section-two .list-contact-container li {
  padding-left: 1rem;
}

.section-two .list-contact-container li a {
  color: black;
  text-decoration: none;
}

.section-two .list-contact-container li a:hover {
  color: red;
}

.section-three {
  position: relative;
  background-color: #fff;
  width: 20.6%;
  font-size: 1.5rem;
  top: 2.8rem;
}

.section-three .section-three-wrapper .section-three-intro {
  padding: 0.5rem 0.5rem;
}

.section-three .section-three-wrapper .section-three-intro .register-section a {
  color: black;
  text-decoration: none;
  padding-left: 0.3rem;
}

.section-three .section-three-wrapper .section-three-intro .text-center {
  padding-bottom: 1.5rem;
}

.section-three .section-three-wrapper .section-three-intro .mni-guide a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #c0020f;
  border: 2px solid #c0020f;
  text-decoration: none;
}

.section-three .section-three-wrapper .section-three-intro .mni-guide a:hover {
  background-color: #c0020f;
  color: white;
}

.section-three .section-three-wrapper .section-three-intro .mni-title {
  margin: 1.5rem 0 0.5rem;
  color: #666666;
}

.section-three .section-three-wrapper .section-three-intro .mni-desc {
  color: #999999;
}

.section-three-img {
  background-color: #fff;
}

#breadcrumb-wrapper {
  padding: 15px 0;
}

#breadcrumb-wrapper .breadcrumb-content {
  font-size: 14px;
  line-height: 1.6;
  font-family: Roboto;
  color: #333333;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

#breadcrumb-wrapper .breadcrumb-content .wrapper {
  padding: 0 30px;
  max-width: 121rem;
  margin: 0 auto;
}

#breadcrumb-wrapper .breadcrumb-content .wrapper .inner .breadcrumb-small {
  text-transform: uppercase;
}

#breadcrumb-wrapper .breadcrumb-content .wrapper .inner .breadcrumb-small a {
  padding-right: 10px;
  color: #333;
  text-decoration: none;
}

#breadcrumb-wrapper .breadcrumb-content .wrapper .inner .breadcrumb-small a:hover {
  color: red;
}

#PageContainer {
  overflow: hidden;
  width: 100%;
  font-size: 1.4rem;
  color: #434343;
  height: 100%;
}

#PageContainer .main-content {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#PageContainer .main-content .page-wrapper {
  padding: 0px 0px 10px 0px;
  min-height: 300px;
}

#PageContainer .main-content .page-wrapper .wrapper {
  padding: 0 70px;
  max-width: 1270px;
  margin: 0 auto;
}

#PageContainer .main-content .page-wrapper .wrapper .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#PageContainer .main-content .page-wrapper .wrapper .inner .grid .grid-item {
  background-color: #f2f2f2;
  height: 47px;
}

#PageContainer .main-content .page-wrapper .wrapper .inner .grid .grid-item h1 {
  text-transform: uppercase;
  line-height: 47px;
  margin-left: 10px;
}

#PageContainer .main-content .page-wrapper .wrapper .inner .grid .rte div > ul > li {
  line-height: 25px;
}

#PageContainer .main-content .page-wrapper .wrapper .inner .grid .rte p > a {
  color: red;
}

#home-policy {
  padding: 30px 0 20px;
  background: #eaeaea;
  border-bottom: 1px solid #f2f2f2;
}

#home-policy .wrapper {
  max-width: 121rem;
  height: 51px;
  margin: 0 auto;
  padding: 0 30px;
}

#home-policy .wrapper .inner .policy-container {
  height: 5.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-policy .wrapper .inner .policy-container .policy-item {
  height: 42px;
  padding-left: 30px;
  width: 25%;
  margin-bottom: 10px !important;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item {
  height: 100%;
  text-align: center !important;
  display: block;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item img {
  margin-right: 5px;
  vertical-align: middle;
  max-width: 100%;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item span {
  color: #333333;
  height: 16px;
  line-height: 51px;
  font-size: 1.7rem;
  padding-left: 5px;
  font-weight: bold;
}

#footer {
  background: #eaeaea;
}

#footer .ft-nav-wrapper {
  padding: 30px 0 15px;
  border-bottom: 1px solid #f2f2f2;
}

#footer .ft-nav-wrapper .wrapper {
  padding: 0 30px;
  max-width: 121rem;
  margin: 0 auto;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets {
  list-style: none;
  padding-left: 0;
  font-size: 1.4rem;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets li a {
  font-size: 1.4rem;
  color: #6d6d6d;
  text-decoration: none;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets li a:hover {
  color: red;
}

#footer .ft-shortlinks-wrapper {
  padding: 30px 0 15px;
  border-bottom: 1px solid #f2f2f2;
}

#footer .ft-shortlinks-wrapper .wrapper {
  padding: 0 30px;
  max-width: 1270px;
  margin: 0 auto;
}

#footer .ft-shortlinks-wrapper .wrapper .inner {
  text-align: center !important;
  width: 100%;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks {
  display: inline-block;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets li a {
  font-size: 1.4rem;
  color: #999999;
  padding-left: 10px;
  text-decoration: none;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets li a:hover {
  color: red;
}

#footer .ft-copyrights-wrapper {
  text-align: center;
  color: #999999;
  font-size: 1.4rem;
}

#footer .ft-copyrights-wrapper a {
  color: #999999;
  text-decoration: none;
}

#footer .ft-copyrights-wrapper a:hover {
  color: red;
}

.right-navbar {
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
}

.right-navbar a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  left: 100px;
  padding: 4px 10px;
  background: #7a6e6e;
  text-decoration: none;
  margin-bottom: 2px;
  width: 120px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.right-navbar a i {
  margin-right: 10px;
  color: #fff;
  line-height: 34px;
  text-transform: uppercase;
}

.right-navbar a span {
  color: #fff;
  padding-left: 5px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 34px;
}

.right-navbar a:hover {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  background-color: #c0020f;
}

#home-policy {
  padding: 30px 0 20px;
  background: #eaeaea;
  border-bottom: 1px solid #f2f2f2;
}

#home-policy .wrapper {
  max-width: 121rem;
  height: 51px;
  margin: 0 auto;
  padding: 0 30px;
}

#home-policy .wrapper .inner .policy-container {
  height: 5.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-policy .wrapper .inner .policy-container .policy-item {
  height: 42px;
  padding-left: 30px;
  width: 25%;
  margin-bottom: 10px !important;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item {
  height: 100%;
  text-align: center !important;
  display: block;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item img {
  margin-right: 5px;
  vertical-align: middle;
  max-width: 100%;
}

#home-policy .wrapper .inner .policy-container .policy-item .hpolicy-item span {
  color: #333333;
  height: 16px;
  line-height: 51px;
  font-size: 1.7rem;
  padding-left: 5px;
  font-weight: bold;
}

#footer {
  background: #eaeaea;
}

#footer .ft-nav-wrapper {
  padding: 30px 0 15px;
  border-bottom: 1px solid #f2f2f2;
}

#footer .ft-nav-wrapper .wrapper {
  padding: 0 30px;
  max-width: 121rem;
  margin: 0 auto;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets {
  list-style: none;
  padding-left: 0;
  font-size: 1.4rem;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets li a {
  font-size: 1.4rem;
  color: #6d6d6d;
  text-decoration: none;
}

#footer .ft-nav-wrapper .wrapper .inner .ft-nav-container .ft-nav-item .no-bullets li a:hover {
  color: red;
}

#footer .ft-shortlinks-wrapper {
  padding: 30px 0 15px;
  border-bottom: 1px solid #f2f2f2;
}

#footer .ft-shortlinks-wrapper .wrapper {
  padding: 0 30px;
  max-width: 1270px;
  margin: 0 auto;
}

#footer .ft-shortlinks-wrapper .wrapper .inner {
  text-align: center !important;
  width: 100%;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks {
  display: inline-block;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets li a {
  font-size: 1.4rem;
  color: #999999;
  padding-left: 10px;
  text-decoration: none;
}

#footer .ft-shortlinks-wrapper .wrapper .inner .ft-shortlinks .no-bullets li a:hover {
  color: red;
}

#footer .ft-copyrights-wrapper {
  text-align: center;
  color: #999999;
  font-size: 1.4rem;
}

#footer .ft-copyrights-wrapper a {
  color: #999999;
  text-decoration: none;
}

#footer .ft-copyrights-wrapper a:hover {
  color: red;
}

.right-navbar {
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
}

.right-navbar a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  left: 100px;
  padding: 4px 10px;
  background: #7a6e6e;
  text-decoration: none;
  margin-bottom: 2px;
  width: 120px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.right-navbar a i {
  margin-right: 10px;
  color: #fff;
  line-height: 34px;
  text-transform: uppercase;
}

.right-navbar a span {
  color: #fff;
  padding-left: 5px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 34px;
}

.right-navbar a:hover {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  background-color: #c0020f;
}
/*# sourceMappingURL=Introduction.css.map */